.signup-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: stretch;
  align-content: flex-start;
  margin-top: 0.5%;
  padding: 0.5%;
  background-color: darkblue;
}

/* .form-div {
  padding: 5%;
} */

#space {
  background-color: white;
}
