#nav-container {
  display: flex;
  padding: 0.5%;
  align-content: space-between;
  background-color: darkblue;
  font-weight: bold;
}

.nav-button {
  width: 120px;
  border: white;
  border-width: 0%;
  border-style: solid;
  font-weight: bold;
}

#website-title {
  padding: 1%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 700;
  background-color: darkblue;
}

.divider {
  width: 5px;
  height: auto;
  display: inline-block;
}

#signin-tag {
  text-align-last: right;
}

#landing-pic {
  width: 100%;
}
