.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  padding: 1%;
  background-color: lightblue;
}

.nav-button {
  width: 150px;
  border: white;
  border-width: 1%;
  border-style: solid;
}

#website-title {
  padding: 1%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: lightblue;
}
